.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
button{
    color: white;
}
.rotate {
    height: 140px;
    white-space: nowrap;
    width: 0;
    transform: translate(0px, 110px)
               rotate(-90deg);
   }
   span {
      
      padding: 5px 10px;
      margin:250px;
     font-size: 46px;
     font-weight: 700;
     color: rgb(250, 244, 244);
    }
 
  .rotate{
	
    flex: 1 1 0;
        
}
  .col-md-5{
      margin-bottom: 120px;
  }
  .card-footer{
      border-top: none;
      background: none;
  }
.gap{
    margin: 30px 0px;
}
.card-text{
    color: gray;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgray;
}
.categories{
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    border-bottom-width: 10px;
    margin-left: 480px;
    width: 150px;
    margin-bottom: 160px;
}
.bag{
    margin-top: 220px;
    margin-right: 140px;
}
.align{
    text-align: center;
    margin-top: 20px;
}
.beauty{
margin-bottom: 100px;
}
.last-img{
    margin-left: 190px;
    margin-top: 50px;
}
.last-img img{
    width: 100%;
}